/* body {
  background-color: #0f2027;
  background-color: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #2c5364, #0f2027);
  color: white;
}

.filtro {
  display: none;
} */


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
  --font-style: 'Nunito Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: var(--font-style);
  width: 100%;
  height: 100%;
  background-color: #2A2734;
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efefef;
}

input {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 20px;
  border: solid 3px #9A86FD;
  outline: none;
  border-radius: 35px;
  transition: all 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;
}

input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

input:focus::placeholder {
  opacity: 1;
}

input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FFB870;
}

input:focus,
input:not(:placeholder-shown) {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FFB870;
}

#result {
  text-align: center;
  margin-top: 1.25em;
  position: absolute;
  top: 25%;
  left: 0%;
}

.container .flag-img {
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1.8em auto 1.2em auto;
}

.container h2 {
  font-weight: 600;
  color: #efefef;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}

.data-wrapper {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
}

.container h4 {
  display: inline;
  font-weight: 500;
  color: #efefef;
}

.container span {
  color: #efefef;
}

.container h3 {
  text-align: center;
  color: #efefef;
}